#resumeImage {
  z-index: 2;
  display: block;
  margin: 0 auto;
  /* max-width: 50%; */
  /* height: auto; */
  /* transform: translateX(-50%); */

  /* max-width: 800px; */
  /* position: relative; */
  /* margin: auto; */

  /* max-width: 800px; */
  /* align-items: center;
  justify-content: center; */
}
